<% layout('layouts/boilerplate') %>
<div class="container">
    <div>
        <div class="row justify-content-around">
            <%- include('intro') %>
        </div>

        <div class="row justify-content-around">
            <%- include('about') %>
            <%- include('technologies') %>
        </div>

        <div class="row justify-content-around">
            <%- include('experience') %>
        </div>

        <div class="row justify-content-around">
            <%- include('projects') %>
        </div>
    </div>
</div>
